<div>
  <form id="editSportsbook" action="/editSportsbook/{{match.id}}" method="POST">
    <div class="updateSportsbook">
      <div>
        <label for="team1">Team 1: </label><br>
        <select name="team1" id="team1">
          {{#each teams}}
          <option value="{{this.TeamName}}" {{#equal ../match.team1 TeamName}} {{/equal}}>{{this.TeamName}}</option>
          {{/each}}
        </select>
      </div>
      <div>
        <label for="team2">Team 2: </label><br>
        <select name="team2" id="team2">
          {{#each teams}}
          <option value="{{this.TeamName}}" {{#equal ../match.team2 TeamName}} {{/equal}}>{{this.TeamName}}</option>
          {{/each}}
        </select>
      </div>
      <div>
        <label for="result">Result: </label><br>
        <select name="result" id="result">
          {{{match.currentResult}}}
        </select>
      </div>
      <div>
        <button type="submit">Edit Match</button>
      </div>
    </div>
  </form>

  <form action='/deleteSportsbook/{{id}}' method="POST">
    <button type="submit" id="deleteBtn">Delete</button>
  </form>
</div>